
<div class="income_detail">
  <!-- <h3>收入记账</h3> -->
  <button type="button" class="btn btn-primary btn-sm addbtn" data-toggle="modal" data-target="#myModal"
          (click)="clearModal()" data-whatever="add">
    添加
  </button>

  <table class="table income_table table-striped table-hover">
    <thead>
      <tr>
        <th>序号</th>
        <th>创建时间</th>
        <th>收入来源</th>
        <th>金额</th>
        <th>备注</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let income of incomeData?.income">
        <td>{{income.id}}</td>
        <td>{{income.createTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
        <td>{{income.source}}</td>
        <td>{{income.amount}}</td>
        <td>{{income.description}}</td>
        <td>
          <button type="button" class="operator_btn btn btn-warning btn-sm" (click)="editIncomeItem(income)"
                  data-toggle="modal" data-target="#editModal" data-whatever="edit">
            <span>编辑</span>
          </button>
          <button type="button" class="operator_btn btn btn-danger btn-sm" (click)="deleteIncomeItem(income)">
            <span>删除</span>
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <!--add Modal start-->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">添加收入信息</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>
          <div class="modal-body">

            <form [formGroup]="incomeForm" (ngSubmit)="onSubmitIncomeForm()" class="form-horizontal">
              
              <div class="formField">
                  <label for="source" class="income_label">
                      收入来源
                  </label>
                  <input id="source" type="text" formControlName="incomeSource" class="formText" 
                        placeholder="" required>
              </div>

              <div class="formField">
                  <label for="amount" class="income_label">
                      金额
                  </label>
                  <input id="amount" type="text" formControlName="incomeAmount" class="formText"
                        required>
                  <div [hidden]="incomeForm.controls.incomeAmount.valid || incomeForm.controls.incomeAmount.pristine"
                      >
                      请输入数字
                  </div>
              </div>

              <div class="formField">
                  <label for="comment" class="income_label">
                      备注
                  </label>
                  <input id="comment" type="text" formControlName="incomeComment" class="formText">
              </div>

            </form>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            <!-- <button type="button" class="btn btn-primary">保存</button> -->
            <button type="button" class="btn btn-primary" (click)="submitAddedIncomeItem()" 
                    [disabled]="!incomeForm.valid">提交</button>
          </div>
        </div>
      </div>
  </div>
  <!--add Modal over -->

  <!--edit Modal start-->
  <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="myModalLabel">编辑收入信息</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">

          <form [formGroup]="incomeForm" (ngSubmit)="onSubmitIncomeForm()" class="form-horizontal">
            
            <div class="formField">
                <label for="source" class="income_label">
                    收入来源
                </label>
                <input id="source" type="text" formControlName="incomeSource" class="formText" 
                      placeholder="" required>
            </div>

            <div class="formField">
                <label for="amount" class="income_label">
                    金额
                </label>
                <input id="amount" type="text" formControlName="incomeAmount" class="formText"
                      required>
                <div [hidden]="incomeForm.controls.incomeAmount.valid || incomeForm.controls.incomeAmount.pristine"
                    >
                    请输入数字
                </div>
            </div>

            <div class="formField">
                <label for="comment" class="income_label">
                    备注
                </label>
                <input id="comment" type="text" formControlName="incomeComment" class="formText">
            </div>

            <div class="formField">
              <label for="incomeId" class="income_label">
                  序号
              </label>
              <input id="incomeId" formControlName="incomeId" class="formText" disabled="disabled">
            </div>  

          </form>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
          <!-- <button type="button" class="btn btn-primary">保存</button> -->
          <button type="button" class="btn btn-primary" (click)="submitEditedIncomeItem(incomeForm)" 
                  [disabled]="!incomeForm.valid">提交</button>
        </div>
      </div>
    </div>
  </div>
  <!--edit Modal over -->

  <!-- Todo 删除成功/失败 时的提示框 -->
</div>

<div class="income_dashboard">
    <p>收入总计</p>

    <div class="card_title">

    </div>
    
    <div class="income_card">
      {{incomeTotal}}
      <label class="text-muted">元</label>
    </div>
</div>
