<nav id="layout_sidebar" class="sidebar_nav">
  <ul id="sidebar_navElements">
    <li class="sidebar_navElement">
      <a class="sidebar_navLink" routerLink="/index">
        <span class="sidebar_navIcon"><i class="iconFrs fa fa-home fa-margin fa-fw aria-hidden='true'"></i></span>
        <span class="sidebar_navText">首页</span>
      </a>
    </li>
    <li class="sidebar_navElement">
      <a class="sidebar_navLink" routerLink="/userList">
        <span class="sidebar_navIcon"><i class="iconFrs fa fa-user fa-margin fa-fw aria-hidden='true'"></i></span>
        <span class="sidebar_navText">用户列表</span>
      </a>
    </li>
    <li class="sidebar_navElement">
      <a class="sidebar_navLink" routerLink="/infoList">
        <span class="sidebar_navIcon"><i class="iconFrs fa fa-info fa-margin fa-fw aria-hidden='true'"></i></span>
        <span class="sidebar_navText">信息列表</span>
      </a>
    </li>
    <li class="sidebar_navElement">
      <a class="sidebar_navLink" routerLink="/fundsManegement">
        <span class="sidebar_navIcon"><i class="iconFrs fa fa-money fa-margin fa-fw aria-hidden='true'"></i></span>
        <span class="sidebar_navText">资金管理</span>
      </a>
    </li>
    <li class="sidebar_navElement">
      <a class="sidebar_navLink" routerLink="/investManagement">
        <span class="sidebar_navIcon"><i class="iconFrs fa fa-inbox fa-margin fa-fw aria-hidden='true'"></i></span>
        <span class="sidebar_navText">投资管理</span>
      </a>
    </li>
    <li class="sidebar_navElement">
      <a class="sidebar_navLink" routerLink="/fundsData">
        <span class="sidebar_navIcon"><i class="iconFrs fa fa-bar-chart fa-margin fa-fw aria-hidden='true'"></i></span>
        <span class="sidebar_navText">资金数据</span>
      </a>
    </li>
  </ul>
</nav>