
<div class="home">
    <div>
        <h5>资产概览</h5>
    </div>

    <div class="asset">
        <div class="netAsset_card">
            <strong>{{netAsset}}</strong>
            <label class="text-muted">元</label>
            <p>净资产</p>
        </div>
    </div>

    <div class="asset">
        <div class="netAsset_card">
                <strong>{{netAsset}}</strong>
                <label class="text-muted">元</label>
                <p>资产</p>
        </div>
    </div>

    <div class="asset">
        <div class="netAsset_card">
                <strong>-{{netAsset}}</strong>
                <label class="text-muted">元</label>
                <p>负债</p>
        </div>
    </div>

    <div>
        <h5>当月支出</h5>
    </div>

</div>

